In [3]:
from scipy.io import loadmat
from glob import glob
import numpy as np
import pandas as pd

In [4]:
files = glob('Yates/*.mat')
files

['Yates\\cardiff_d50.mat',
 'Yates\\fall07_cp_d50.mat',
 'Yates\\fall07_o_d50.mat',
 'Yates\\fall07_p_d50.mat',
 'Yates\\onofre_d50.mat',
 'Yates\\pendleton_d50.mat',
 'Yates\\torrey_d50.mat']

In [5]:
LAT = []
LON = []
D50 = []
DEP = []
for f in files:
    dat = loadmat(f)
#     print(dat.keys())
    LAT.append(np.squeeze(dat['lat']))
    LON.append(np.squeeze(dat['lon']))
    D50.append(np.squeeze(dat['d50']))
    DEP.append(np.squeeze(dat['elev']))

In [6]:
dat.keys()

dict_keys(['__header__', '__version__', '__globals__', 'd95', 'd84', 'd60', 'd50', 'd30', 'd16', 'd10', 'd5', 'elev', 'lat', 'lon', 'imsl', 'ibb', 'iwater'])

In [7]:
DEP = np.squeeze(np.hstack(DEP))
LAT = np.squeeze(np.hstack(LAT))
LON = np.squeeze(np.hstack(LON))
D50 = np.squeeze(np.hstack(D50))

In [8]:
## bf = beachface, O=offshore, MB=midbeach, BB=back beach
elev_code = ['BF','O','MB','BB']

In [9]:
np.unique(DEP)

array([-4.3 , -4.  , -3.7 , -3.55, -3.2 , -3.05, -3.  , -2.  , -1.  ,
        0.  ,  0.11,  1.  ,  2.  ,  2.5 ,  3.  ])

In [11]:
ELE = []
for d in DEP:
    if d>=2.5:
        ELE.append('BB')
    elif d<=-1:
        ELE.append('O')
    elif (d>-1) and (d<=1):
        ELE.append('BF')
    else:
        ELE.append('MB')
        print(d)

2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0

In [15]:
np.sum(np.array([e=='MB' for e in ELE])==True)

19

In [16]:
np.sum(np.array([e=='BB' for e in ELE])==True)

2

In [17]:
np.sum(np.array([e=='BF' for e in ELE])==True)

73

In [18]:
np.sum(np.array([e=='O' for e in ELE])==True)

47

In [19]:
out = {}
out['Lat']=LAT
out['Lon']=LON
out['Dep']=DEP
out['Ele']=ELE
out['Grain_Size']=D50

In [20]:
df = pd.DataFrame.from_dict(out)
df.head()

         Lat         Lon  Dep Ele  Grain_Size
0  33.017033 -117.282683  0.0  BF    0.149255
1  33.011567 -117.279750  0.0  BF    0.151969
2  33.004867 -117.278517  0.0  BF    0.141791
3  32.998400 -117.277117  0.0  BF    0.146878
4  33.252740 -117.433980  2.0  MB    0.216464

In [21]:
df.to_csv('Yates_GrainSize.csv')